*{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: #eee;
	padding: 20px;
}
article{
	background-color: white;
	padding: 20px;
}
#logo,#middle,#right,dd img{
	border:solid #999 1px;
}
#logo{
	width: 200px;
	float: left;
}
figcaption{
	position: absolute;
	left: 140px;
	top: 40px;
	font-weight:bold;
	font-size: 14px;
}
#middle{	
	margin-left: 260px;
	margin-right: 150px;
}
#middle p{
	text-indent: 2em;
	line-height: 150%;
}
#right{
	float: right;
}
h1{
	text-align: center;
}
dd{
	padding: 7px;
}
