
body {
	margin: 0px;
	padding: 0px;
}

[class*='col_']{
	float: left;
	height: 50px;
	margin: 10px;
	background-color: #eee;
	outline: 1px solid #999;
}

@media (min-width: 769px){
	.col_md_4{
		width: calc(33.3% - 20px);
	}
	.col_md_3{
		width: calc(25% - 20px);
	}
	.col_md_6{
		width: calc(50% - 20px);
	}
	.col_md_1{
		width: calc(8.3% - 20px);
	}
	.col_md_2{
		width: calc(16.6% - 20px);
	}
}
@media (max-width: 769px){
	.col_sm_6{
		width: calc(50% - 20px);
	}
	.col_sm_12{
		width: calc(100% - 20px);
	}
	.col_sm_3{
		width: calc(25% - 20px);
	}
	.col_sm_2{
		width: calc(16.6% - 20px);
	}
	.col_sm_8{
		width: calc(66.6% - 20px);
	}
}